# Sample params.cfg for priemimoKomisija
# Keys:
# darbuotoja1Greitis - integer (processing time for worker 1)
# darbuotoja2Greitis - integer (processing time for worker 2)
# atvykimoTikimybe - double in [0,1]
# priemimoLaikas - integer (time to accept one applicant)
# simuliacijosLaikas - integer (simulation duration in minutes)

darbuotoja1Greitis=5
darbuotoja2Greitis=3
atvykimoTikimybe=0.4
priemimoLaikas=1
simuliacijosLaikas=10000